.preferenceWrapper {
  display: flex;
  gap: 20px;
  margin-top: 21px;
}

.preferenceButton {
  border-radius: 17px 17px 17px 0;
  background-color: rgba(57, 184, 255, 1);
  padding: 4px 13px 11px;
  color: rgba(255, 255, 255, 1);
  font: 500 13px PingFang SC, -apple-system, Roboto, Helvetica, sans-serif;
}

.preferenceIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: start;
}

@media (max-width: 991px) {
  .preferenceWrapper {
    white-space: initial;
  }

  .preferenceButton {
    white-space: initial;
    padding: 0 20px;
  }
}
